.star {
  transform: scale(0) rotate(0.6turn);
  animation-name: star;
  animation-duration: 5s;
  animation-timing-function: linear;

  animation-iteration-count: infinite;
}

@keyframes star {
  10% {
    transform: scale(1) rotate(0turn);
  }
  20% {
    transform: scale(0) rotate(-0.6turn);
  }
  100% {
    transform: scale(0) rotate(-0.6turn);
  }
}
