.btn-contain {
    margin: 5% auto;
    min-height: 100px;
  }
  .btn-underline-contain {
    max-width: 270px;
    margin: 0 auto;
  }
  .btn-underline {
    font-family:sans-serif;
    font-weight:bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    padding: 20px;
    border: 2px solid white;
    transition: .3s;
    display:block;
    position:relative;
    border-radius: 4px;
  }
  .btn-underline:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    height: 3px;
    background: white;
    left: 0;
  }
  .btn-underline:hover:after {
    width: 100%;
    left: 0;
    background: rgb(249, 185, 66);
  }
  .btn-underline:hover {
      border: 2px solid rgb(249, 185, 66)!important;
    -moz-border-image: -moz-linear-gradient(top , rgb(249, 185, 66) 0%, rgb(249, 185, 66) 100%);
    -webkit-border-image: -webkit-linear-gradient(top, rgb(249, 185, 66) 0%, rgb(249, 185, 66) 100%);
    border-image: linear-gradient(to bottom, rgb(249, 185, 66) 0%, rgb(249, 185, 66) 100%);
    border-image-slice: 1;
  }
  .btn-underline span {
      font-weight: bold;
  }
  .btn-underline:hover span {
    color: rgb(249, 185, 66);
  }